<!doctype html>
<html lang="es" ng-app="appDemo">
<head>
   <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aleph Group</title>
  <!--Estilos propios-->
  <link rel="stylesheet" type="text/css" href="css/style_login.css">  <!--Framework BootStrap-->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">  <!--Favicon-->
  <link rel="icon" type="image/png" href="images/favicon/favicon.ico">  <!--Estilos para Iconos-->
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">  <!--Fuentes de Google-->
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'> 

</head>
<body class="bodLogin">

    <div class="container" ng-controller="EmpleadoListadoCtrl">
        <div class="container-fluid">
    <div class="row">

      <form class="form-horizontal" method="POST" id="formulario">
      
          <div class="col-sm-4"></div><!-- Brinda el espacio para colocar el formulario en el centro -->

          <!--Div ancho de fomulario-->
            <div class="col-sm-4 frmLogin">
              <div class="row">
                <div class="cabFrmLogin">
                  <p class="titLogin">Aleph Group</p>
                </div>
              </div>
              <!-- Cuerpo del formulario -->
              <div class="col-sm-12 bodFrmLogin">
                
                <div class="center" style="margin-bottom: 20px">
                  <img src="images/logocyl.png" width="150">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" ng-model="user" placeholder="Usuario">
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" ng-model="passw" placeholder="Contraseña">
                </div>
                <!-- Input oculto para identificar el formulario -->
                <div class="form-group">
                  <input type="hidden" name="login" value="1">
                </div>
                <!-- Fin de input oculto -->

                <!-- Boton Login de formulario -->
                <div class="center">
                  <button id="btn" ng-click="login()" class="btnLogin">
                    Login <span class="fa fa-angle-double-right"></span>
                  </button>
                </div>
                <!-- Fin de boton Login de formulario -->
              </div>
              <!-- Fin cuerpo del formulario -->
            </div>
          </div>
      </form>

    </div>
  </div>
    </div>
       

    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="login/app.js"></script>
    <script src="login/controllers.js"></script>
     <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
</body>

</html>