<form>
<div class="panel panel-warning" >
          <div class="panel-heading">Datos Personales</div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-sm-3" style="text-align:right;">
                      <label>Tipo de Identificaciòn*:</label>
                  </div>
                  <div class="col-sm-4">
                      <select ng-model="tipoIdentificacion" class="form-control">
                            <option value="">Seleccione</option>
                            <option value="1">DNI</option>
                            <option value="2">RUC</option>
                      </select>
                  </div>
                  <div class="col-sm-2">
                      <input type="text" class="form-control" placeholder="" ng-model="nroIdentificacion" ng-required="true" maxlength="11">
                  </div>
              </div><br>
              <div class="row">
                  <div class="col-sm-3" style="text-align:right;">
                      <label>Fecha de Nacimiento*:</label>
                  </div>
                  <div class="col-sm-2">
                      <select ng-model="dia" class="form-control">
                            <option value="">Dia</option>
                            <option value="1">DNI</option>
                            <option value="2">RUC</option>
                      </select>
                  </div>
                  <div class="col-sm-2">
                      <select ng-model="mes" class="form-control">
                            <option value="">Mes</option>
                            <option value="1">DNI</option>
                            <option value="2">RUC</option>
                      </select>
                  </div>
                  <div class="col-sm-2">
                      <select ng-model="anio" class="form-control">
                            <option value="">Año</option>
                            <option value="1">DNI</option>
                            <option value="2">RUC</option>
                      </select>
                  </div>
              </div><br>
              <div class="row">
                  <div class="col-sm-3" style="text-align:right;">
                      <label>Estado Civil*:</label>
                  </div>
                  <div class="col-sm-4">
                      <select ng-model="tipoIdentificacion" class="form-control">
                            <option value="">Estado Civil</option>
                            <option value="1">DNI</option>
                            <option value="2">RUC</option>
                      </select>
                 </div>
              </div><br>
              <div class="row">
                  <div class="col-sm-3" style="text-align:right;">
                      <label>Telfono*:</label>
                  </div>
                  <div class="col-sm-3">
                      <select ng-model="telefono" class="form-control">
                            <option value="">Seleccion</option>
                            <option value="1">Fijo</option>
                            <option value="2">Movil</option>
                      </select>
                 </div>
                 <div class="col-sm-1">
                      <input type="text" class="form-control" placeholder="" ng-model="firstName" ng-required="true" >
                  </div>
                  <div class="col-sm-2">
                      <input type="text" class="form-control" placeholder="" ng-model="nroIdentificacion" ng-required="true" maxlength="11">
                  </div>
              </div><br>
              <div class="row">
                  <div class="col-sm-3" style="text-align:right;">
                      <label>Paìs*:</label>
                  </div>
                  <div class="col-sm-6">
                      <select ng-model="telefono" class="form-control">
                            <option value="">Perù</option>
                            <option value="1">Fijo</option>
                            <option value="2">Movil</option>
                      </select>
                 </div>
                 
              </div><br>
              <div class="row">
                  <div class="col-sm-3" style="text-align:right;">
                      <label>Departamento*:</label>
                  </div>
                  <div class="col-sm-6">
                      <select ng-model="codigo_Departamento" class="form-control">
                           <option ng-repeat="p in departamentos" value="{{ p.codigo_Departamento}}">{{ p.Nombre_Departamento }}</option>
                            
                      </select>
                 </div>
                 
              </div><br>
              <div class="row">
                  <div class="col-sm-3" style="text-align:right;">
                      <label>Coudad*:</label>
                  </div>
                  <div class="col-sm-6">
                      <select ng-model="telefono" class="form-control">
                            <option value="">Seleccione Ciudad</option>
                            <option value="1">Fijo</option>
                            <option value="2">Movil</option>
                      </select>
                 </div>                 
              </div><br>
              <div class="row">
                  <div class="col-sm-3" style="text-align:right;">
                      <label>Codigo Postal*:</label>
                  </div>
                  <div class="col-sm-6">
                      <input type="text" class="form-control" placeholder="" ng-model="codPostal" ng-required="true" >
                 </div>                 
              </div><br>
              <div class="row">
                  <div class="col-sm-3" style="text-align:right;">
                      <label>Direccion*:</label>
                  </div>
                  <div class="col-sm-6">
                      <input type="text" class="form-control" placeholder="" ng-model="direccion" ng-required="true" >
                 </div>                 
              </div><br>
              <div class="row">
                  <div class="col-sm-3" style="text-align:right;">
                      <label>Nacionalidad*:</label>
                  </div>
                  <div class="col-sm-6">
                      <select ng-model="telefono" class="form-control">
                            <option value="">Perù</option>
                            <option value="1">Fijo</option>
                            <option value="2">Movil</option>
                      </select>
                 </div>                 
              </div><br>
              <div class="row">
                  <div class="col-sm-3" style="text-align:right;">
                      <label>Licencia de Conducir*:</label>
                  </div>
                  <div class="col-sm-6">
                      <div class="btn-group" role="group" aria-label="...">
                          <button class="btn btn-info">A-I</button>
                          <button class="btn btn-info">A-II-A</button>
                          <button class="btn btn-info">A-II-B</button>
                          <button class="btn btn-info">A-III-A</button>
                          <button class="btn btn-info">A-III-B</button>
                          <button class="btn btn-info">A-III-C</button>
                          <button class="btn btn-info">No Tengo</button>
                      </div>
                   </div>                 
               </div><br>
               <div class="row">
                  <div class="col-sm-3" style="text-align:right;">
                      <label>Dispone de Vehiculo Propio*:</label>
                  </div>
                  <div class="col-sm-6">
                      <div class="btn-group" role="group" aria-label="...">
                          <button class="btn btn-info">si</button>
                          <button class="btn btn-info">No</button>
                      </div>
                   </div>                 
               </div><br>
               <hr>
                   <h2>Perfil Profesional</h2>
                <hr>
                <div class="row">
                   <div class="col-sm-12">                     
                      <div class="btn-group" >
                           <label>Cargo o Titulo breve del Curriculum*:</label>
                           <input type="text" class="form-control" style="width:100%!important;" placeholder="Nombre" ng-model="Nombre" ng-required="true">
                      </div>
                   </div>                 
               </div><br>
               <div class="row">
                   <div class="col-sm-12">                     
                      <div class="btn-group" >
                           <label>Descripcion breve del perfil profesional*:</label>
                           <textarea class="form-control" placeholder="..." ng-model="descripcionPerfil" readonly="7" required="true"></textarea>
                           
                      </div>
               <!--        <table class="table table-bordered">
        <tr ng-repeat="m in model">
            <td>{{m.Correo}}</td>
            <td>{{m.Nombre}}</td>
            <td>{{m.Apellido}}</td>
            
            <td ng-if="m.Sexo == 1">Hombre</td>
            <td ng-if="m.Sexo == 2">Mujer</td>
                        
            <td>{{m.Sueldo}}</td>
            <td>{{m.Profesion}}</td>
            <td>{{m.FechaNacimiento}}</td>
            <td>
                <a class="btn btn-default btn-xs" href="/ver/{{m.id}}">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </a>
                <button class="btn btn-danger btn-xs" ng-click="retirar(m.id)">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </td>
        </tr>
    </table>-->
                   </div>  
                   
        
                  
               </div><br>
                <hr>
                     <h2>Experiencias Profesionales</h2>
                <hr>
                <div class="row">
                   <div class="col-sm-12">   
                        <div class="btn-group" >
                          <input type="checkbox" ng-model="experiencia"><samp>No tengo ninguna experiencia</samp><br>
                          <a>Añadir Experiencia Laboral</a>
                        </div>
                   </div>
                </div><br>
                <hr>
                     <h2>Formación</h2>
                <hr>
                <div class="row"> 
                        <div class="col-sm-3" style="text-align:right;">
                           <label>Centro Educativo*:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="" ng-model="codPostal" ng-required="true" >
                       </div>                   
                </div><br>
                <div class="row"> 
                        <div class="col-sm-3" style="text-align:right;">
                           <label>Nivel de Estudios*:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="" ng-model="codPostal" ng-required="true" >
                       </div>                   
                </div><br>
                <div class="row"> 
                        <div class="col-sm-3" style="text-align:right;">
                           <label>Area de Estudio*:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="" ng-model="codPostal" ng-required="true" >
                       </div>                   
                </div><br>
                <div class="row"> 
                        <div class="col-sm-3" style="text-align:right;">
                           <label>Estado*:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="" ng-model="codPostal" ng-required="true" >
                       </div>                   
                </div><br>
          </div>
  
    </div></form>