
<div class="row">
<style type="text/css">
        @media print {
        .hidden-print {
          display: none !important;
        }
      } </style>
<div class="col-sm-1"></div>
<div class="col-sm-10">
  <div class="container-fluid">
    <div class="row" class="text-align: center;"  > 
    
      <div class="col-sm-4" ></div><!-- Brinda el espacio para colocar el formulario en el centro -->
      <!--Div ancho de fomulario-->
        <div class="col-sm-12 " class="text-align: center;">
        <div class="row"><button ng-click="onload()" class="hidden-print">Imprimir</button></div>
          <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">FORMATO PARA EL CONTROL DE CALIDAD A EQUIPO DE RAYOS X FLUROSCOPIA</p>
            </div>
          </div>
          <!-- Cuerpo del formulario -->
          <div class="col-sm-12 bodFrmLogin">

            <table class="table table-bordered">
                     <thead>
                           <tr>
                             <th>
                                 Informe N°
                             </th>
                             <th>
                                 Certificado N°
                             </th>
                             <th>
                                 Fecha
                             </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{formato.nro_informe}}</td>
                              <td>{{formato.nro_certificado}}</td>
                              <td>{{fecha2}}</td>
                            </tr>
                          </tbody>
                      </table>
            <!-- Boton Login de formulario -->
            
            <!-- Fin de boton Login de formulario -->
          </div>
          <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">DATOS DEL CONTRIBUYENTE</p>
            </div>
          </div>
          <!-- Cuerpo del formulario -->
          <div class="col-sm-12 bodFrmLogin">
             <table class="table table-bordered">
               <thead>
                 <tr>
                   <th>
                       ID DEL CLIENTE
                   </th>
                   <th style="width:250px;">
                       RAZON SOCIAL
                   </th>
                   <th>
                       RUC Nº
                   </th>
                   <th>
                       DIRECCION
                   </th>
                   <th>
                       TELEFONO
                   </th>
                   <th>
                       E-MAIL
                   </th>
                   <th>
                       UBICACIÓN DE LA INSTALACION
                   </th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>
                      {{cliente.codigo}}
                   </td>
                   <td>
                      {{cliente.razon_social}}
                   </td>
                   <td>
                      {{cliente.ruc}}
                   </td>
                   <td>
                      {{cliente.direccion}}
                   </td>
                   <td>
                     {{cliente.telefono}}
                   </td>
                   <td>
                     {{cliente.email}}
                   </td>
                   <td>
                     {{cliente.ubicacion}}
                   </td>
                 </tr>
               </tbody>
             </table>

          </div>
           <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">DATOS DEL EQUIPO</p>
            </div>
          </div>
         <div class="col-sm-12 bodFrmLogin">
         <div class="col-sm-3 form-group">
           <label>TIPO:</label>
         </div>
           <div class="col-sm-9 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td></td>
                      <td>FIJO</td>
                      <td><input type="checkbox"  ng-true-value="1" ng-false-value="0" int-to-boolean ng-model="formato.fijo" ></td>
                      <td></td>
                      <td>PERIAPICAL</td>
                      <td><input type="checkbox"  ng-true-value="1" ng-false-value="0" int-to-boolean ng-model="formato.periapical" ></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>RODANTE</td>
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean  ng-model="formato.rodante" ></td>
                      <td></td>
                      <td>PANORAMICO</td>
                      <td><input type="checkbox"  ng-true-value="1" ng-false-value="0" int-to-boolean ng-model="formato.panoramico" ></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>PORTATIL</td>
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean  ng-model="formato.portatil" ></td>
                      <td></td>
                      <td>CEFALOMETRICO</td>
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean ng-model="formato.cefalometrico" ></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>UNIDAD MOVIL</td>
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean  ng-model="formato.uni_movil" ></td>
                      <td></td>
                      <td>TOMOGRAFICO</td>
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean  ng-model="formato.tomografo" ></td>
                  </tr>
              </table> 
             </div>

                    
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-12 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td></td>
                      <td>CONSOLA | GENERADOR</td>                      
                      <td>TUBO</td>
                  </tr>
                  <tr>
                      <td>MARCA:</td>
                      <td>{{descri_equipo.marc}}a</td>                      
                      <td>{{descri_equipo2.marca}}</td>
                  </tr>
                  <tr>
                      <td>MODELO:</td>
                      <td>{{descri_equipo.modelo}}</td>                      
                      <td>{{descri_equipo2.modelo}}</td>
                  </tr>
                  <tr>
                       <td>N° SERIE:</td>
                      <td>{{descri_equipo.nro_serie}}</td>                      
                      <td>{{descri_equipo2.nro_serie}}</td>
                  </tr>
                  <tr>
                       <td>Kv MAX:</td>
                      <td>{{descri_equipo.kvp_max}}</td>                      
                      <td>{{descri_equipo2.kvp_max}}</td>
                  </tr>
                  <tr>
                       <td>Ma/Mas MAX:</td>
                      <td>{{descri_equipo.max}}</td>                      
                      <td>{{descri_equipo2.max}}</td>
                  </tr>
                  <tr>
                       <td>AÑO DE FABRICACION:</td>
                      <td>{{descri_equipo.anio_fabri}}</td>                      
                      <td>{{descri_equipo2.anio_fabri}}</td>
                  </tr>
                  <tr>
                       <td>AÑO DE INSTALACION:</td>
                      <td>{{descri_equipo.anio_insta}}</td>                      
                      <td>{{descri_equipo2.anio_insta}}</td>
                  </tr>
              </table> 
             </div>           
                    
          </div>
          <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">INDICADORES GENERALES DE FUNCIONAMIENTO Y SEGURIDAD</p>
            </div>
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-12 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td>CARACTERISTICA</td>
                      <td>SI</td>                      
                      <td>NO</td>
                  </tr>

                  <tr><label ng-show="false" ng-if="formato.esta_meca==0">{{formato1.esta_meca=1}}</label>
                      <td>ESTABILIDAD MECANICA:</td>
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean ng-click="validar1()" ng-model="formato.esta_meca" ></td>                    
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean ng-click="validar()" ng-model="formato1.esta_meca" ></td>
                  </tr>
                  <tr><label ng-show="false" ng-if="formato.mov_adec_equi==0">{{formato1.mov_adec_equi=1}}</label>
                      <td>MOVIMIENTOS ADECUADOS DEL EQUIPO:</td>
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean ng-click="validar2()" ng-model="formato.mov_adec_equi" ></td>                   
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean ng-click="validar3()" ng-model="formato1.mov_adec_equi" ></td>
                  </tr>
                  <tr><label ng-show="false" ng-if="formato.esta_cable==0">{{formato1.esta_cable=1}}</label>
                       <td>BUEN ESTADO DE LOS CABLES (ALTA TENSION Y ALIMENTACION):</td>
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean ng-click="validar4()" ng-model="formato.esta_cable" ></td>                      
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean ng-click="validar5()" ng-model="formato1.esta_cable" ></td>
                  </tr>
                  <tr><label ng-show="false" ng-if="formato.ind_punto_focal==0">{{formato1.ind_punto_focal=1}}</label>
                       <td>INDICADOR DEL PUNTO FOCAL:</td>
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean ng-click="validar6()" ng-model="formato.ind_punto_focal" ></td>                      
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean ng-click="validar7()" ng-model="formato1.ind_punto_focal" ></td>
                  </tr>
                  <tr><label ng-show="false" ng-if="formato.funci_indicador==0">{{formato1.funci_indicador=1}}</label>
                       <td>FUNCIONAMIENTO DE LOS INDICADORES DE TECNICA DE EXPOSICION EN EL PANEL DE CONTROL
:</td>
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean ng-click="validar8()" ng-model="formato.funci_indicador" ></td>                      
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean ng-click="validar9()" ng-model="formato1.funci_indicador" ></td>
                  </tr>
                  
                  <tr><label ng-show="false" ng-if="formato.interrup_expo==0">{{formato1.interrup_expo=1}}</label>
                       <td>INTERRUPTOR DE EXPOSICION TIPO HOMBRE MUERTO:</td>
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean ng-click="validar10()" ng-model="formato.interrup_expo" ></td>                      
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean ng-click="validar11()" ng-model="formato1.interrup_expo" ></td>
                  </tr>
                  <tr><label ng-show="false" ng-if="formato.barrera_protect==0">{{formato1.barrera_protect=1}}</label>
                       <td>BARRERA PROTECTORA PARA EL OPERADOR:</td>
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean ng-click="validar12()" ng-model="formato.barrera_protect" ></td>                      
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean ng-click="validar13()" ng-model="formato1.barrera_protect" ></td>
                  </tr>
              </table> 
             </div>           
                    
          </div>
         <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">PARAMETROS GEOMETRICOS</p>
            </div>
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-12 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td></td>
                      <td>RESULTADOS</td> 
                  </tr>

                  <tr>
                      <td>COINCIDENCIA DEL CAMPO DE RADIACION CON EL INTENSIFICADOR DE IMAGEN:</td>
                      <td>{{formato.campradiacion}}</td>  
                  </tr>
                  
                  
              </table> 
             </div>           
                    
          </div>
          <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">CALIDAD DEL HAZ</p>
            </div>
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-9 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td></td>
                      <td>kV nominal</td> 
                      <td>kV medido</td> 
                  </tr>

                  <tr>
                      <td>EXACTITUD DE LA TENSION:</td>
                      <td>{{formato.kvnominal}}</td>  
                      <td>{{formato.kvmedio}}</td>  
                  </tr>
                   <tr>
                      <td></td>
                      <td>kV1</td> 
                      <td>kV2</td> 
                  </tr>
                  <tr>
                      <td>REPETIBILIDAD DE LA TENSION:</td>
                      <td>{{formato.kv1}}</td> 
                      <td>{{formato.kv2}}</td>   
                  </tr>
                  
                  <tr>
                      <td>FILTRACION (mm):</td>
                      <td colspan="2">{{formato.filtracion}}</td>  
                  </tr>
                  <tr>
                      <td>DISTORSIÓN GEOMETRICA:</td>
                      <td colspan="2">{{formato.distorGeo}}</td>  
                  </tr>
                  
                  
              </table> 
             </div>           
                    
          </div>
          
           <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">RENDIMIENTO</p>
            </div>
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-12 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td></td>
                      <td>DOSIS1</td> 
                      <td>DOSIS2</td> 
                  </tr>

                  <tr>
                      <td>REPETIBILIDAD:</td>
                      <td>{{formato.dosis1}}</td>  
                      <td>{{formato.dosis2}}</td>  
                  </tr>
                   <tr>
                      <td></td>
                      <td>MAS</td> 
                      <td>DOSIS</td> 
                  </tr>
                  <tr>
                      <td>VALOR DEL RENDIMIENTO:</td>
                      <td>{{formato.mas}}</td> 
                      <td>{{formato.dosis}}</td>   
                  </tr>
                  
                  
              </table> 
             </div>           
                    
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-12 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td colspan="4">VARIACION DEL RENDIMIENTO CON LA CORRIENTE</td>
                      
                  </tr>
                  <tr>
                      <td>MAS1</td>
                      <td>DOSIS1</td> 
                      <td>MAS2</td> 
                      <td>DOSIS2</td>
                  </tr>
                  <tr>
                      <td>{{formato.mas1}}</td>  
                      <td>{{formato.dosis10}}</td> 
                      <td>{{formato.mas2}}</td>  
                      <td>{{formato.dosis20}}</td>  
                  </tr>               
                  
                  
              </table> 
             </div>           
                    
          </div>
          <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">PARA METROS DOSIMETRICOS</p>
            </div>
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-12 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td></td>
                      <td>EXPLORACION</td> 
                      <td>DOSIS</td> 
                  </tr>

                  <tr>
                      <td>DOSIS DE ENTRADA AL PACIENTE:</td>
                      <td>{{formato.exploracion}}</td>  
                      <td>{{formato.docis_entrada}}</td>  
                  </tr>
                  <tr>
                      <td></td>
                      <td></td>  
                      <td>RESULTADO</td>  
                  </tr>
                   <tr>
                      <td>TASA DE DOSIS MAXIMA A PACIENTE ESTANDAR:</td>
                      <td></td>  
                      <td>{{formato.dosisPasienEstand}}</td>  
                  </tr>
                   
                   
                  
              </table> 
             </div>           
                    
          </div>
          <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">PARAMETROS DEL CONTROL AUTOMATICO DE EXPOSICION (CAI)</p>
            </div>
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-12 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td></td>
                      <td>TASA1</td> 
                      <td>TASA2</td> 
                  </tr>

                  <tr>
                      <td>REPETIBILIDAD DE LA TASA DE DOSIS DE ENTRADA AL PACIENTE CON CAI:</td>
                      <td>{{formato.tasa10}}</td>  
                      <td>{{formato.tasa20}}</td>  
                  </tr>
                  
                   
                   
                  
              </table> 
             </div>           
                    
          </div>
           <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">PARAMETROS DE CALIDAD DE IMAGEN</p>
            </div>
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-12 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td></td>
                      <td>RESULTADO</td>  
                  </tr>

                  <tr>
                      <td>TASA DE DOSIS/DOSIS POR IMAGEN EN EL PLANO DE ENTRADA AL INTENSIFICADOR DE IMAGEN:</td>
                      <td>{{formato.intensificadorimage}}</td>  
                  </tr>
              </table>
              <table class="table table-bordered">
                   <tr>
                      <td></td> 
                      <td>TASA1</td> 
                      <td>TASA2</td> 
                   </tr>
                   <tr>
                      <td >REPRODUCIBILIDAD DE LA TASA DE DOSIS/DOSIS POR IMAGEN EN EL PLANO DE ENTRADA DEL INTENSIFICADOR DE IMAGEN</td>
                      <td>{{formato.tasa1}}</td>
                      <td>{{formato.tasa2}}</td>   
                  </tr>

              </table>
              <table class="table table-bordered">
                  <tr>
                      <td>ESCALA DE GRISES:</td>
                      
                      <td>{{formato.grises}}</td> 
                  </tr>
                   <tr>
                      <td>LIMITE DE RESOLUCION A ALTO CONTRASTE:</td>
                      
                      <td>{{formato.resoAltoContrast}}</td>  
                  </tr>
                  <tr>
                      <td>UMBRAL DE SENSIBILIDAD A BAJO CONTRASTE:</td>
                      
                      <td>{{formato.resoluBajoCntrast}}</td>  
                  </tr>
                 
              </table> 
               
             </div>           
                    
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-3 form-group">
                <label>OBSERVACIONES:</label>
             </div>           
          
              <div class="col-sm-9 form-group">
                  <textarea ng-model="formato.observacion" class="form-control"></textarea>
             </div>           
                    
          </div>
          <div class="col-sm-12 bodFrmLogin">         
            <table class="table table-bordered">
                  
                  <tr>
                      <td></td>
                      <td>NOMBRES</td> 
                      <td>FIRMA</td> 
                  </tr>

                  <tr>
                      <td>REALIZADO POR:</td>
                      <td>{{formato.realizado_por}}</td>  
                      <td></td>  
                  </tr>
                   
                  
              </table>           
                    
          </div>
          
          <!-- Fin cuerpo del formulario -->
        </div>
      </div>
    </div>
  </div></div>
</form>