<div class="row">
<style type="text/css">
        @media print {
        .hidden-print {
          display: none !important;
        }
      } </style>
<div class="col-sm-1"></div>
<div class="col-sm-10">
  <div class="container-fluid">
    <div class="row" class="text-align: center;"> 
      <div class="col-sm-4"></div><!-- Brinda el espacio para colocar el formulario en el centro -->
      <!--Div ancho de fomulario-->
        <div class="col-sm-12 " class="text-align: center;">
        <div class="row"><button ng-click="onload()" class="hidden-print">Imprimir</button> <div class="form-group col-sm-4 hidden-print" ng-show="usuario.rol != null">
                    <label><span class="fa fa-bookmark"></span></label>
                    <label>Usuario:{{usuario.apellidos}} {{usuario.nombres}} <button class="btn btn-sm btn-danger" ng-click="salir()">Salir</button></label>
                    <label></label>
                  </div></div>
          <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">FORMATO PARA EL CONTROL DE CALIDAD A EQUIPO DE RAYOS X MAMOGRAFIA</p>
            </div>
          </div>
          <!-- Cuerpo del formulario -->
          <div class="col-sm-12 bodFrmLogin">
              <table class="table table-bordered">
                     <thead>
                           <tr>
                             <th>
                                 Informe N°
                             </th>
                             <th>
                                 Certificado N°
                             </th>
                             <th>
                                 Fecha
                             </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{formato.nro_informe}}</td>
                              <td>{{formato.nro_certificado}}</td>
                              <td>{{fecha2}}</td>
                            </tr>
                          </tbody>
                      </table>

            <!-- Boton Login de formulario -->
            
            <!-- Fin de boton Login de formulario -->
          </div>
          <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">DATOS DEL CONTRIBUYENTE</p>
            </div>
          </div>
          <!-- Cuerpo del formulario -->
          <div class="col-sm-12 bodFrmLogin">
             <table class="table table-bordered">
               <thead>
                 <tr>
                   <th>
                       ID DEL CLIENTE
                   </th>
                   <th style="width:250px;">
                       RAZON SOCIAL
                   </th>
                   <th>
                       RUC Nº
                   </th>
                   <th>
                       DIRECCION
                   </th>
                   <th>
                       TELEFONO
                   </th>
                   <th>
                       E-MAIL
                   </th>
                   <th>
                       UBICACIÓN DE LA INSTALACION
                   </th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>
                      {{cliente.codigo}}
                   </td>
                   <td>
                      {{cliente.razon_social}}
                   </td>
                   <td>
                      {{cliente.ruc}}
                   </td>
                   <td>
                      {{cliente.direccion}}
                   </td>
                   <td>
                     {{cliente.telefono}}
                   </td>
                   <td>
                     {{cliente.email}}
                   </td>
                   <td>
                     {{cliente.ubicacion}}
                   </td>
                 </tr>
               </tbody>
             </table>

          </div>
           <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">DATOS DEL EQUIPO</p>
            </div>
          </div>
         <div class="col-sm-12 bodFrmLogin">
         <div class="col-sm-3 form-group">
           <label>TIPO:</label>
         </div>
           <div class="col-sm-9 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td></td>
                      <td>FIJO</td>
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean  ng-model="formato.fijo" ></td>
                      <td></td>
                      <td>PORTATIL</td>
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean  ng-model="formato.portatil" ></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td>RODANTE</td>
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean  ng-model="formato.rodante" ></td>
                      <td></td>
                      <td>UNIDAD MOVIL</td>
                      <td><input type="checkbox" ng-true-value="1" ng-false-value="0" int-to-boolean  ng-model="formato.uni_movil" ></td>
                  </tr>
                  
              </table>  
             </div>

                    
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-12 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td></td>
                      <td>CONSOLA | GENERADOR</td>                      
                      <td>TUBO</td>
                  </tr>
                  <tr>
                      <td>MARCA:</td>
                      <td>{{descri_equipo.marc}}a</td>                      
                      <td>{{descri_equipo2.marca}}</td>
                  </tr>
                  <tr>
                      <td>MODELO:</td>
                      <td>{{descri_equipo.modelo}}</td>                      
                      <td>{{descri_equipo2.modelo}}</td>
                  </tr>
                  <tr>
                       <td>N° SERIE:</td>
                      <td>{{descri_equipo.nro_serie}}</td>                      
                      <td>{{descri_equipo2.nro_serie}}</td>
                  </tr>
                  <tr>
                       <td>Kv MAX:</td>
                      <td>{{descri_equipo.kvp_max}}</td>                      
                      <td>{{descri_equipo2.kvp_max}}</td>
                  </tr>
                  <tr>
                       <td>Ma/Mas MAX:</td>
                      <td>{{descri_equipo.max}}</td>                      
                      <td>{{descri_equipo2.max}}</td>
                  </tr>
                  <tr>
                       <td>AÑO DE FABRICACION:</td>
                      <td>{{descri_equipo.anio_fabri}}</td>                      
                      <td>{{descri_equipo2.anio_fabri}}</td>
                  </tr>
                  <tr>
                       <td>AÑO DE INSTALACION:</td>
                      <td>{{descri_equipo.anio_insta}}</td>                      
                      <td>{{descri_equipo2.anio_insta}}</td>
                  </tr>
              </table> 
             </div>           
                    
          </div>
          <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">INDICADORES GENERALES DE FUNCIONAMIENTO Y SEGURIDAD</p>
            </div>
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-12 form-group">
                <table class="table table-bordered">    
            <tr>
                <td colspan="3" style="text-align:center;">CARACTERISTICA</td>
            </tr>

            <tr><label ng-show="false" ng-if="formato.esta_meca==0">{{formato1.esta_meca=1}}</label>
                <td>ESTABILIDAD MECANICA:</td>
                <td ng-if="formato.esta_meca==0">NO</td>    
                <td ng-if="formato.esta_meca==1">SI</td>  
            </tr>
            <tr><label ng-show="false" ng-if="formato.mov_adec_equi==0">{{formato1.mov_adec_equi=1}}</label>
                <td>MOVIMIENTOS ADECUADOS DEL EQUIPO:</td>
                <td ng-if="formato.mov_adec_equi==0">NO</td>    
                <td ng-if="formato.mov_adec_equi==1">SI</td>  
            </tr>
            <tr><label ng-show="false" ng-if="formato.esta_cable==0">{{formato1.esta_cable=1}}</label>
                 <td>BUEN ESTADO DE LOS CABLES (ALTA TENSION Y ALIMENTACION):</td>
                 <td ng-if="formato.esta_cable==0">NO</td>    
                 <td ng-if="formato.esta_cable==1">SI</td> 
            </tr>
            <tr><label ng-show="false" ng-if="formato.ind_punto_focal==0">{{formato1.ind_punto_focal=1}}</label>
                 <td>INDICADOR DEL PUNTO FOCAL:</td>
                 <td ng-if="formato.ind_punto_focal==0">NO</td>    
                 <td ng-if="formato.ind_punto_focal==1">SI</td>         
            </tr>
            <tr><label ng-show="false" ng-if="formato.funci_indicador==0">{{formato1.funci_indicador=1}}</label>
                 <td>FUNCIONAMIENTO DE LOS INDICADORES DE TECNICA DE EXPOSICION EN EL PANEL DE CONTROL: </td>
                 <td ng-if="formato.funci_indicador==0">NO</td>    
                 <td ng-if="formato.funci_indicador==1">SI</td>
            </tr>
            
            <tr><label ng-show="false" ng-if="formato.interrup_expo==0">{{formato1.interrup_expo=1}}</label>
                 <td>INTERRUPTOR DE EXPOSICION TIPO HOMBRE MUERTO:</td>
                  <td ng-if="formato.interrup_expo==0">NO</td>    
                  <td ng-if="formato.interrup_expo==1">SI</td>               
            </tr>
            <tr><label ng-show="false" ng-if="formato.barrera_protect==0">{{formato1.barrera_protect=1}}</label>
                 <td>BARRERA PROTECTORA PARA EL OPERADOR:</td>
                <td ng-if="formato.barrera_protect==0">NO</td>    
                <td ng-if="formato.barrera_protect==1">SI</td> 
            </tr>
          </table>
             </div>           
                    
          </div>
          <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">PARAMETROS GEOMETRICOS</p>
            </div>
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-12 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td></td>
                      <td>LADO1</td> 
                      <td>LADO2</td> 
                      <td>LADO3</td> 
                      <td>LADO4</td> 
                  </tr>

                  <tr>
                      <td>COINCIDENCIA DEL CAMPO DE LUZ-CAMPO DE RADIACION:</td>
                      <td>{{formato.lado1}}</td>  
                      <td>{{formato.lado2}}</td>
                      <td>{{formato.lado3}}</td>
                      <td>{{formato.lado4}}</td>
                  </tr>
                  
                  
              </table> 
             </div>           
                    
          </div>
          <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">CALIDAD DEL HAZ</p>
            </div>
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-9 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td></td>
                      <td>kV nominal</td> 
                      <td>kV medido</td> 
                  </tr>

                  <tr>
                      <td>EXACTITUD DE LA TENSION:</td>
                      <td>{{formato.kvnominal}}</td>  
                      <td>{{formato.kvmedio}}</td>  
                  </tr>
                   <tr>
                      <td></td>
                      <td>kV1</td> 
                      <td>kV2</td> 
                  </tr>
                  <tr>
                      <td>REPETIBILIDAD DE LA TENSION:</td>
                      <td>{{formato.kv1}}</td> 
                      <td>{{formato.kv2}}</td>   
                  </tr>
                 
                  <tr>
                      <td>FILTRACION (mm):</td>
                      <td colspan="2">{{formato.filtracion}}</td>  
                  </tr>
                  
              </table> 
             </div>           
                    
          </div>
          <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">TIEMPO DE EXPOSICION</p>
            </div>
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-12 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td></td>
                      <td>TIEMPO NOMINAL</td> 
                      <td>TIEMPO MEDIO</td> 
                  </tr>

                  <tr>
                      <td>EXACTITUD:</td>
                      <td>{{formato.tiempo_nominal}}</td>  
                      <td>{{formato.tiempo_medio}}</td>  
                  </tr>
                   <tr>
                      <td></td>
                      <td>TIEMPO1</td> 
                      <td>TIEMPO2</td> 
                  </tr>
                  <tr>
                      <td>REPETIBILIDAD:</td>
                      <td>{{formato.tiem1}}</td> 
                      <td>{{formato.tiem2}}</td>   
                  </tr>
                  
                  
              </table> 
             </div>           
                    
          </div>
           <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">RENDIMIENTO</p>
            </div>
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-12 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td></td>
                      <td>DOSIS1</td> 
                      <td>DOSIS2</td> 
                  </tr>

                  <tr>
                      <td>REPETIBILIDAD:</td>
                      <td>{{formato.dosis1}}</td>  
                      <td>{{formato.dosis2}}</td>  
                  </tr>
                   <tr>
                      <td></td>
                      <td>MAS</td> 
                      <td>DOSIS</td> 
                  </tr>
                  <tr>
                      <td>VALOR DEL RENDIMIENTO:</td>
                      <td>{{formato.mas}}</td> 
                      <td>{{formato.dosis}}</td>   
                  </tr>
                  
                  
              </table> 
             </div>           
                    
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-12 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td colspan="4">VARIACION DEL RENDIMIENTO CON LA CORRIENTE</td>
                      
                  </tr>
                  <tr>
                      <td>MAS1</td>
                      <td>DOSIS1</td> 
                      <td>MAS2</td> 
                      <td>DOSIS2</td>
                  </tr>
                  <tr>
                      <td>{{formato.mas1}}</td>  
                      <td>{{formato.dosis10}}</td> 
                      <td>{{formato.mas2}}</td>  
                      <td>{{formato.dosis20}}</td>  
                  </tr>               
                  
                  
              </table> 
             </div>           
                    
          </div>
          <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">PARA METROS DOSIMETRICOS</p>
            </div>
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-12 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td></td>
                      <td>RESULTADO</td>
                  </tr>

                  <tr>
                      <td>KERMA EN AIRE EN LA SUPERFICIE DE ENTRADA DEL MANIQUI ESTANDAR:</td>
                      
                      <td>{{formato.kerma}}</td>  
                  </tr>
                   
                  
              </table> 
               
             </div>           
                    
          </div>
          <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">CONTROL AUTOMATICO DE EXPOSICION (CAE)</p>
            </div>
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-12 form-group">
          <table class="table table-bordered">
                <tr>
                      <td colspan="2">REPETIBILIDAD DEL CAE</td>
                      
                  </tr>
                  <tr>
                      <td>MAS1</td>
                      <td>MAS2</td> 
                  </tr>
                  <tr>
                      <td>{{formato.dosis1cae}}</td>  
                      <td>{{formato.dosis2cae}}</td> 
                  </tr>      
                </table> 
          </div>
          <div class="row">
            <div class="cabFrmLogin">
              <p class="titFormatos">CALIDAD DE IMAGEN</p>
            </div>
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-12 form-group">
              <table class="table table-bordered">
                  
                  <tr>
                      <td></td>
                      <td>RESULTADO</td>  
                  </tr>

                  
                  <tr>
                      <td>UMBRAL DE SENSIBILIDAD A BAJO CONTRASTE:</td>
                      <td>{{formato.resoluBajoCntrast}}</td>  
                  </tr>
                  <tr>
                      <td>RESULTADO A ALTO CONTRASTE:</td>
                      <td>{{formato.resoAltoContrast}}</td>  
                  </tr>
                  <tr>
                      <td>CONTRASTE DE LA IMAGEN:</td>
                      <td>{{formato.contrasteImagen}}</td>  
                  </tr>
              </table> 
              
             </div>           
                    
          </div>
          <div class="col-sm-12 bodFrmLogin">
         
           <div class="col-sm-3 form-group">
                <label>OBSERVACIONES:</label>
             </div>           
          
              <div class="col-sm-9 form-group">
                  <textarea ng-model="formato.observacion" class="form-control"></textarea>
             </div>           
                    
          </div>
          <div class="col-sm-12 bodFrmLogin">         
            <table class="table table-bordered">
                  
                  <tr>
                      <td></td>
                      <td>NOMBRES</td> 
                      <td>FIRMA</td> 
                  </tr>

                  <tr>
                      <td>REALIZADO POR:</td>
                      <td>{{formato.realizado_por}}</td>  
                      <td></td>  
                  </tr>
                   
                  
              </table>           
                    
          </div>
          
          <!-- Fin cuerpo del formulario -->
        </div>
      </div>
    </div>
  </div></div>
</form>