         
            <div class="col-sm-12 col-xs-12 desUser">
                <form class="form-inline">
                  <div class="form-group col-sm-4 desComUser">
                    <label><span class="fa fa-building-o"></span></label>
                    <label>Aleph Group</label>
                  </div>
                  <div class="form-group col-sm-4">
                    <label><span class="fa fa-bookmark"></span></label>
                    <label>Usuario:{{usuario.apellidos}} {{usuario.nombres}} <button class="btn btn-sm btn-danger" ng-click="salir()">Salir</button></label>
                    <label></label>
                  </div>
                </form>
            </div>
        </div>
    
    </div>

  <div class="container-fluid">
  
    <div class="container">
  <div class="row">
         <div class="col-md-7">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#mdConven" style="margin-top:5px; margin-left:5px;">
              Ingresar Datos
            </button>
         </div>
        <div class="col-md-5">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" ng-model="datoBuscado" ng-keyup="buscar()" placeholder="Buscar" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" ng-click="buscar()" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
  </div>
</div>

    <div class="row" class="text-align: center;"> 
       <div class="box-body table-responsive no-padding">
          <table class="table table-bordered ">
              <thead>
              	 <th style="width:30px;">#</th>
              	 <th>N° Informe</th>
              	 <th>N° Certificado</th>
              	 <th>Fecha</th>
              	 <th>Obserbacion</th>
              	 <th>Usuario</th>
              	 <th>Cliente</th>
              	 <th style="width:100px;">Acciones</th>
              	 <th style="width:40px;">Imp.</th>
              </thead>
              <tbody>
              	<tr ng-repeat="item in listaFormato.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
              		<td>{{$index+1}}</td>
              		<td>{{item.nro_informe}}</td>
              		<td>{{item.nro_certificado}}</td>
              		<td>{{item.fecha | date:'dd/MM/yyyy'}}</td>
              		<td>{{item.observacion}}</td>
              		<td>{{item.realizado_por}}</td>
              		<td>{{item.razon_social}}</td>
              		<td style="width:120px; height:40px; " ng-if="item.estado==1">
				               <a class="btn btn-warning btn-xs" href="#/editConvencional/{{item.id}}">
				                    <i class="glyphicon glyphicon-pencil"></i>
				               </a>
				                <button class="btn btn-danger btn-xs" ng-click="desactivar(item)">
				                    Desactivar
				                </button>
				    </td>
				    <td style="width:120px;" ng-if="item.estado==0">
				               <a class="btn btn-warning btn-xs" href="#/editConvencional/{{item.id}}">
				                    <i class="glyphicon glyphicon-pencil"></i>
				               </a>
				                <button class="btn btn-danger btn-xs" ng-click="desactivar(item)">
				                    Activar
				                </button>
				    </td>
				    <td style="width:50px;">
				               <a class="btn btn-info btn-xs" ng-click="abrirVentana('#/printConvencional/'+item.id)" >
				                    <i class="glyphicon glyphicon-print"></i>
				               </a></td>
              	</tr>
              </tbody>
          </table>
          </div>
          </div>
     <div class="row" class="text-align: center;" style="margin-top:-20px;"> 
        
        <!--<select ng-model="viewby" ng-change="setItemsPerPage(viewby)" ng-init="setItemsPerPage(5)">
                 <option value="3">3</option><option value="5">5</option><option value="10">10</option><option>20</option><option>30</option><option>40</option><option>50</option></select> -->
             <div class="box-footer clearfix">  
                  <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></pagination>
              </div>
    </div>
    </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="mdConven" tabindex="-1" role="dialog" aria-labelledby="mdTit">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="mdTit">INGRESAR PARAMETROS RX-CONVENCIONAL</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
              
            <p class="titFormatos">CALIDAD DE HAZ</p>

            <div class="cabFrmLogin">
              <p class="titFormatos">EXACTITUD DE LA TENSION</p>
            </div>

            <div class="col-sm-3 form-group">
                <label>KV<sub>ind</sub>*:</label>
            </div>

            <div class="col-sm-9 form-group">
              <input type="number" class="form-control" min="0" step="0.1" ng-model="formula.kvind">
            </div>

            <div class="col-sm-3 form-group">
                <label>KV<sub>med</sub>*:</label>
            </div>

            <div class="col-sm-9 form-group">
              <input type="number" class="form-control" min="0" step="0.1" ng-model="formula.kvmed">
            </div>

            <div class="cabFrmLogin">
              <p class="titFormatos">REPETIBILIDAD DE LA TENSION</p>
            </div>

            <div class="col-sm-3 form-group">
                <label>KV<sub>1</sub>*:</label>
            </div>

            <div class="col-sm-9 form-group">
              <input type="number" class="form-control" min="0" step="0.1" ng-model="formula.kv1">
            </div>

            <div class="col-sm-3 form-group">
                <label>KV<sub>2</sub>*:</label>
            </div>

            <div class="col-sm-9 form-group">
              <input type="number" class="form-control" min="0" step="0.1" ng-model="formula.kv2">
            </div>

            <div class="cabFrmLogin">
              <p class="titFormatos">RENDIMIENTO</p>
            </div>

            <div class="col-sm-3 form-group">
              <label>L<sub>mayor</sub>*:</label>
            </div>

            <div class="col-sm-9 form-group">
              <input type="number" class="form-control" min="0" step="0.1" ng-model="formula.lmayor">
            </div>

            <div class="col-sm-3 form-group">
                <label>L<sub>menor</sub>*:</label>
            </div>

            <div class="col-sm-9 form-group">
              <input type="number" class="form-control" min="0" step="0.1" ng-model="formula.lmenor">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="formula5()">Validar</button>
        </div>
      </div>
    </div>
  </div>
  
</form>